table{
	border: 1px solid black;
}
td:hover{
	background-color: gray;
	color: blue;
}
tr, th{
	background-color: green;
	color: cornsilk;
}
tr, td{
	background-color: yellow;
	color: black;
}